/* Hovering over the dog-container will show a picture of Nera and Joey ( my pets )  */

.dogs-container:hover {
    position: relative;
}

.dogs-container:hover:after {
    content: url(./images/Nera\ &\ Joey.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 20px;
    width: 50px;
    display: block;
    z-index: 100;
}

.linkedin-container:hover,
.github-container:hover,
.facebook-container:hover{
    color: rgb(185, 19, 19);
}
.linkedin-container:hover::after,
.github-container:hover::after,
.facebook-container:hover::after{
    color: rgb(70, 66, 66);
}

.links-container1 h4 a:hover{
    color: rgb(140, 204, 56);
}

.linkedin-container img:hover,
.github-container img:hover,
.facebook-container img:hover{
    opacity: 0.5;
}

.email-container:hover,
.email a:hover{
    text-decoration: none;
    color: #307de2;
}


@media print {
    
    body{
        flex-direction: column;
        opacity: 100%;
        -webkit-print-color-adjust: economy;
        print-color-adjust:economy;
    }

    .big-container{
        
        border:solid rgb(0, 0, 0); 
        border-width:1px 0 0 1px;
    }

    .bigger-container,
    .right-container {
        padding: 2em;
        margin-left: 0.5em;
        color: #000000;
    } 
    .bigger-container,
    .left-container,
    .right-container{
        border:solid white; 
        border-width:1px 0 0 1px;
        border-bottom-style: none;
    } 

    .links-left-column,
    .links-left-column a
    .links-right-column
    .links-right-column a{
        color: #000000;
        text-decoration: none;
    }


    .right-column{
        font-weight: bold;
        border: 1px solid black;
    }

    .links-container1{
        display: flex;
        flex-direction: row;
        width: 908px;
        height: auto;
    }

    .links-left-column,
    .links-right-column{
        width: 454px;
    }

    .education-heading{
        padding-top: 10em;
    }

    .skills.passions{
        padding-top: 7.5em; 
    }

    .links-right-column{
        justify-content: center;
        align-content: center;
        text-align: center;
        align-items: center;
        padding-top: 0;
    }
    
    .find-me-online h2{
        padding: 0;
    }

    .linkedin-container img{
        margin-left: 10em;
    }

    .facebook-container img{
        margin-left: 10.5em;
    }

    .github-container img{
        margin-left: 9em;
    }

    .print{
        visibility: hidden;
    }

}

