@media (max-width: 768px) {
    /* Tablet CSS here */

    body {
        width: 100%;
    }

    .bottom-container{
        font-size: 0.6em;
    }

    .app-container{
        display: flex;
        font-size: 0.75em;
        flex-direction: column;
        width: 70%;
        padding: 0.5em 0em 0.5em 1em;
        flex-grow: 2;

    }

    .row-number {
        margin-right: 1em;
        margin-left: 0.5em;
        text-align: right;
    }

    .solution-explorer{
        font-size: 0.7em;
    }

    .solution-icon
    {
        width: 7%;
        height: auto;
        margin-bottom: -0.35em;
        margin-right: 0.3em;
    }

    .solution-csharp-icon{
        width: 4%;
        height: auto;
        margin-bottom: -0.35em;
        margin-right: 0.3em;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    
    .navigation ul {
        gap: 0.20em;
    }
    
    .tab {
        font-size: 11px;
        padding: 0.1em 4em  0.1em 0;
    }
    
    .console-container {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    
    .console-window-header{
        border: none;
        width: 65%; 
        height: 5px;
        margin: 0 auto;
        margin-top: 1em;
        
        padding: 0 0 1em 0;
        background-color: #2E2E2E;
    }
    
    .console-window {
        border: 3px black solid;
        width: 65%;
        height: 13em;
        margin: 0 auto;
        background-color: rgb(0, 0, 0);
        color: #5FBDF9;
        margin-bottom: 1em;
    
    }
    
    .console-window-header span img {
        display: inline-flex;
        position: relative;
        margin-left: -0.25em;
        padding-bottom: 0.25em;
    }

    .minimize,
    .maximize,
    .close{
    padding-top: 0.05em;
    width: 1em;
    height: 1em;
}

    .console-window h1{
        padding-top: 1.5em;
        padding-left: 1.5em;
        font-size: 1.1em;
    }

    .console-window h2{
        padding-top: 1.5em;
        padding-left: 1.5em;
        font-size: 0.6em;
    }
    
    .console-window h2:first-child{
        padding-top: 0;
    }
    
    
    .picture img{
        pointer-events: none;
        height: auto;
        border-radius: 50%;
        margin-left: -5.5em;
        margin-bottom: -6.5em;

    }

    footer{
        font-size: 0.35em;
    }

    .project-container{
        display: flex;
        padding-top: 0.5em;
        padding-left: 0.6em;

        max-width: 100%;
        height: auto;
        width: auto;
    }
    
    .project-picture{
        width: 20em;
        height: 12em;
        margin-right: 0.25em;
        flex-shrink: 1;
    }
    
    .project-picture img {
        max-width: 100%;
        height: auto;
        width: auto;
        pointer-events: none;
        width: 20em;
    }
    
    .project-picture.special img {
        width: 14em;
        height: 22em;
    }
    
    .project-description {
        width: 20em;
        height: 12em;
        margin-right: 0.25em;
    }

    .project-description.special {
        width: 20em;
        height: 22em;
    }
    
    .project-description h2{
        font-size: 0.85em;
        padding-bottom: 0.15em;

    }
    .project-description h3{
        font-size: 0.5em;
        padding: 0.25em;
    }
    
    .project-description p {
        font-size: 0.45em;
        line-height: 1.2em;
    }
    
    .url-container{
        display: flex;
        flex-direction: column;
        padding-top: 1em;
        flex-grow: 2;
    }
    
    .url-container img{
        width: 12%;
        border-radius: 0.2em;
    }

    .go-to-start-button{
        display: none;
    }

    .resume-body{
        display: none;
    }

    .print-resume-method{
        display: flex;
        justify-content: center;
        color: #D0DCA1;
        font-size: 0.90em;
        font-weight: 700;
        text-decoration: none;
    }
    .print-resume-method a{
        text-decoration: none;
    }

}

@media (min-width: 1024px) {
    
   
}

@media (min-width: 1200px) {
    /* Styles for larger screens */
    
}