@media (max-width: 2560px) {
    /* Styles for WQHD screens */

    .bottom-container {
        font-size: 1em;
    }

    .app-container {
        font-size: 0.85em;
    }

    .solution-explorer {
        font-size: 0.75em;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
    }

    .navigation ul {
        gap: 0.3em;
    }

    .tab li{ 
        font-size: 1.1em;
        padding: 0.3em 0.75em 0em 0.3em;
    }

    .console-window-header {
        width: 45%;
        height: 2em;
        margin-top: 1em;
        padding-bottom: 1em;
    }

    .minimize,
    .maximize,
    .close {
        padding-top: 0.1em;
        width: 1.5em;
        height: 1.5em;
    }

    .console-window {
        border: 3px black solid;
        width: 45%;
        height: 25em;
        margin: 0 auto;
        margin-bottom: 1em;

    }

    .console-window-header span img {
        display: flex;
        position: relative;
        margin-left: -0.25em;
        padding-bottom: 0.25em;
    }

    .console-window h1 {
        font-size: 1.8em;
        padding-left: 1em;
        padding-top: 1em;
    }

    .console-window h1:first-of-type {
        padding-top: 3em;
    }

    .console-window h2 {
        font-size: 1.2em;
        padding-left: 2em;
        padding-top: 1em;
    }

    .console-window h2:first-of-type {
        padding-top: 3em;
    }


    .picture img {
        margin-left: -22.5em;
        margin-bottom: -18.5em;
        width: 35%;
    }

    .my-projects-container {
        margin: 0;
        display: flex;
        width: 100%;
    }

    .carousel-container {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: nowrap;
        overflow-y: auto;
        scroll-snap-type: y mandatory;
        height: 25.5%; 
        z-index: 299;
    }

    .project-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: flex-start;
        padding-top: 0.5em;
        padding-left: 0.6em;
        width: 100%;
        height: 30.5em;
    }

    .project-picture {
        pointer-events: none;
        margin-right: 0.25em;
        flex-shrink: 1;
    }

    .project-picture img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
        scale: 100%;
    }

    .project-description {
        width: 60%;
        height: auto;
        margin-right: 0.9em;
    }

    .project-description h2 {
        font-size: 1.5em;
        padding-bottom: 0.25em;
    }

    .project-description h3 {
        font-size: 1.2em;
        padding: 0.25em;
    }

    .project-description p {
        font-size: 0.90em;
        line-height: 1.2em;
    }

    .url-container {
        display: flex;
        flex-direction: column;
        padding-top: 1em;
        flex-grow: 2;
    }

    .url-container img {
        margin-top: 0.5em;
        width: 5%;
        border-radius: 0.5em;
    }

    .print-resume-method {
        display: none;
    }

    .go-to-start-button {
        font-size: 0.8em;
        width: 6em;
        height: 2.5em;
    }
    .big-container{
        margin-left: 0;   
    }
    .resume-body{
        display: flex;
        justify-content: center;

    }

    .go-to-start-button {
    
        display: inline-block;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 0.8em;
        padding: 0;
        margin-bottom: 2em;
        margin-left: -10em;
        width: 10em;
        height: 5em;

    }

    footer {
        font-size: 0.7em;
    }

}

@media (max-width: 1650px) {
    /* Styles for larger screens */

    body {
        width: 100%;
        height: auto;
    }

    .bottom-container {
        font-size: 1em;
    }

    .app-container {
        font-size: 0.65em;
    }

    .solution-explorer {
        font-size: 0.60em;
    }

    .console-window-header {
        width: 45%;
        max-width: 45%;
        height: 0.7em;
        margin-top: 1em;
        padding: 0 0 1em 0;
    }

    .minimize,
    .maximize,
    .close {
        padding-top: 0.1em;
        width: 1em;
        height: 1em;
    }

    .console-window {
        border: 3px black solid;
        width: 45%;
        max-width: 45%;
        height: 17em;
        margin: 0 auto;
        margin-bottom: 1em;

    }

    .console-window-header span img {
        display: flex;
        position: relative;
        margin-left: -0.25em;
        padding-bottom: 0.25em;
    }

    .console-window h1 {
        font-size: 1.60em;
        padding-left: 0.8em;
        padding-top: 1em;
    }

    .console-window h1:first-of-type {
        padding-top: 2.5em;
    }

    .console-window h2 {
        font-size: 1em;
        padding-left: 2em;
        padding-top: 1em;
    }

    .console-window h2:first-of-type {
        padding-top: 2em;
    }


    .picture img {
        margin-left: -13.5em;
        margin-bottom: -12.5em;
        width: 30%;
    }

    footer {
        font-size: 0.45em;
    }

    .my-projects-container {
        margin: 0;
        display: flex;
        width: 100%;
    }

    .carousel-container {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: nowrap;
        overflow-y: auto;
        scroll-snap-type: y mandatory;
        height: 22.5%; 
        z-index: 299;
    }

    .project-container {
        display: flex;
        justify-content: center;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        padding-left: 0.6em;
        width: 100%;
        height: 28.5em;
    }

    .project-picture {
        margin-right: 0.em;
        flex-shrink: 1;
        object-fit: contain;
    }

    .project-picture img {
        width: 30em;
        height: 20em;
        pointer-events: none;
        max-width: 100%;
        height: auto;
        object-fit: contain;    
        scale: 75%;
    }

    .project-description {
        width: 60%;
        height: auto;
        margin-right: 0.25em;
        align-self: center;
    }


    .project-description h2 {
        font-size: 1.3em;
        padding-bottom: 0.15em;

    }

    .project-description h3 {
        font-size: 1em;
        padding: 0.25em;
    }

    .project-description p {
        font-size: 0.75em;
        line-height: 1.2em;
    }

    /* .url-container {
        display: flex;
        flex-direction: column;
        padding-top: 1em;
        flex-grow: 2;
    } */

    .url-container img {
        margin-top: 0.05em;
        width: 6.5%;
        border-radius: 0.2em;
        margin-bottom: 0;
    }

    /* .go-to-start-button {
        display: none;
    } */

    /* .resume-body {
        display: none;
    } */


    .print-resume-method {
        display: none;
    }

    .print-resume-method a {
        text-decoration: none;
    }

    .go-to-start-button {
    
        display: inline-block;
        position: absolute;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 0.8em;
        padding: 0;
        margin-bottom: 0.5;
        margin-top: 1.5em;
        margin-bottom: 2em;
        margin-left: 1.5em;
        width: 10em;
        height: 5em;

    }


}

@media (max-width: 1455px) {
    /* Styles for larger screens */

    body {
        width: 100%;
        height: auto;
    }

    .bottom-container {
        font-size: 0.8em;
    }

    .app-container {
        font-size: 0.85em;
    }

    .solution-explorer {
        font-size: 0.85em;
    }

    .console-window-header {
        width: 45%;
        height: 0.7em;
        margin-top: 1em;
        padding: 0 0 1em 0;
    }

    .minimize,
    .maximize,
    .close {
        padding-top: 0.1em;
        width: 1em;
        height: 1em;
    }

    .console-window {
        border: 3px black solid;
        width: 45%;
        max-width: 45%;
        height: 17em;
        margin: 0 auto;
        margin-bottom: 1em;

    }

    .console-window-header span img {
        display: flex;
        position: relative;
        margin-left: -0.25em;
        padding-bottom: 0.25em;
    }

    .console-window h1 {
        font-size: 1.4em;
        padding-left: 0.8em;
        padding-top: 1em;
    }

    .console-window h1:first-of-type {
        padding-top: 2.5em;
    }

    .console-window h2 {
        font-size: 0.9em;
        padding-left: 2em;
        padding-top: 1em;
    }

    .console-window h2:first-of-type {
        padding-top: 2em;
    }


    .picture img {
        margin-left: -12.5em;
        margin-bottom: -12em;
        width: 30%;
    }

    footer {
        font-size: 0.55em;
    }

    .my-projects-container {
        margin: 0;
        display: flex;
        width: 100%;
    }

    .carousel-container {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: nowrap;
        overflow-y: auto;
        scroll-snap-type: y mandatory;
        height: 22.5%; 
        z-index: 299;
    }


    .project-container {
        display: flex;
        justify-content: center;
        height: 28.5em;
        padding-top: 0.5em;
        padding-left: 0.6em;
        max-width: 100%;
    }

    .project-picture {
        margin-right: 0.25em;
        flex-shrink: 1;
        object-fit: contain;
    }

    .project-picture img {
        width: 30em;
        height: 20em;
        pointer-events: none;
        max-width: 100%;
        height: auto;
        object-fit: contain;
        scale: 80%;
    }

    .project-description {
        width: 60%;
        height: auto;
    }


    .project-description h2 {
        font-size: 1.25em;
        padding-bottom: 0.15em;

    }

    .project-description h3 {
        font-size: 1em;
        padding: 0.25em;
    }

    .project-description p {
        font-size: 0.75em;
        line-height: 1.2em;
    }

    .url-container img {
        margin-top: 0.05em;
        width: 6.5%;
        border-radius: 0.2em;
    }

    .go-to-start-button {
    
        display: inline-block;
        position: absolute;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        width: 100px;
        height: 50px;
        margin-top: 1.2em;
        background-color: #307de2;
        box-shadow: 0px -23px 25px 0px rgba(0, 0, 0, 0.17) 
        inset, 0px -36px 30px 0px rgba(0, 0, 0, 0.15) 
        inset, 0px -79px 40px 0px rgba(0, 0, 0, 0.1) 
        inset, 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 4px 2px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09), 0px 16px 8px rgba(0, 0, 0, 0.09);
     
    }

    .print-resume-method {
        display: none;
    }

    .print-resume-method a {
        text-decoration: none;
    }

    .big-container{
        margin-left: 0.5em;
    }

}

@media (max-width: 1360px) {
    /* Styles for larger screens */

    .bottom-container {
        font-size: 0.9em;
    }

    .app-container {
        font-size: 0.70em;
    }

    .solution-explorer {
        font-size: 0.7em;
    }

    .console-window-header {
        width: 40%;
        height: 0.5em;
        margin-top: 1em;
        padding: 0 0 1em 0;
    }

    .minimize,
    .maximize,
    .close {
        padding-top: 0.1em;
        width: 1em;
        height: 1em;
    }

    .console-window {
        border: 3px black solid;
        width: 40%;
        height: 14em;
        margin: 0 auto;
        margin-bottom: 1em;

    }

    .console-window-header span img {
        display: flex;
        position: relative;
        margin-left: -0.25em;
        padding-bottom: 0.25em;
    }

    .console-window h1 {
        font-size: 1em;
        padding-left: 1.5em;
        padding-top: 1em;
    }

    .console-window h1:first-of-type {
        padding-top: 2.5em;
    }

    .console-window h2 {
        font-size: 0.65em;
        padding-left: 2em;
        padding-top: 1em;
    }

    .console-window h2:first-of-type {
        padding-top: 2em;
    }


    .picture img {
        margin-left: -9.5em;
        margin-bottom: -9em;
        width: 30%;
    }

    footer {
        font-size: 0.45em;
    }

    .my-projects-container {
        margin: 0;
        display: flex;
        width: 100%;
    }

    .carousel-container {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: nowrap;
        overflow-y: auto;
        scroll-snap-type: y mandatory;
        height: 22.5%; 
        z-index: 299;
    }

    .project-container {
        display: flex;
        justify-content: center;
        padding-top: 0.5em;
        padding-left: 0.6em;
        height: 27.5em;
    }

    .project-picture {
        margin-right: 0.25em;
        flex-shrink: 1;
        object-fit: contain;
    }

    .project-picture img {
        pointer-events: none;
        max-width: 100%;
        height: auto;
        object-fit: contain;
        scale: 75%;
    }

    .project-picture.special img {
        width: 100%;
        height: auto;
        object-fit: contain;
        scale: 75%;
    }

    .project-description {
        margin-right: 0.25em;
        align-self: center;
    }

    .project-description.special {
        align-self: center;
    }

    .project-description h2 {
        font-size: 1em;
        padding-bottom: 0.15em;

    }

    .project-description h3 {
        font-size: 0.75em;
        padding: 0.25em;
    }

    .project-description p {
        font-size: 0.65em;
        line-height: 1.2em;
    }

    .url-container img {
        margin-top: 0.05em;
        width: 6.5%;
        border-radius: 0.2em;
    }

    .go-to-start-button {
        display: none;
    }

    .resume-body {
        display: none;
    }

    .print-resume-method {
        display: flex;
        justify-content: center;
        color: #D0DCA1;
        font-size: 1.2em;
        font-weight: 700;
        text-decoration: none;
    }

    .print-resume-method a {
        text-decoration: none;
    }


}

@media (max-width: 1024px) {


    .bottom-container {
        font-size: 1em;
    }

    .app-container {
        display: flex;
        font-size: 0.60em;
        flex-direction: column;
        width: 70%;
        flex-grow: 2;
    }

    .solution-explorer {
        font-size: 0.55em;
    }

    .navigation ul {
        gap: 0.15em;
    }

    .tab {
        font-size: 13px;
        padding: 0.1em 4em 0.1em 0;
    }

    .console-container {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .console-window-header {
        width: 60%;
        height: 0.5em;
        margin-top: 1em;
        padding: 0 0 1em 0;
    }

    .minimize,
    .maximize,
    .close {
        padding-top: 0.1em;
        width: 1em;
        height: 1em;
    }

    .console-window {
        border: 3px black solid;
        width: 60%;
        height: 12em;
        margin: 0 auto;
        background-color: rgb(0, 0, 0);
        color: #5FBDF9;
        margin-bottom: 1em;

    }

    .console-window-header span img {
        display: inline-flex;
        position: relative;
        margin-left: -0.25em;
        padding-bottom: 0.25em;
    }

    .console-window h1 {
        font-size: 1em;
        padding-left: 1.5em;
        padding-top: 1em;
    }

    .console-window h1:first-of-type {
        padding-top: 2.5em;
    }

    .console-window h2 {
        font-size: 0.65em;
        padding-left: 2em;
        padding-top: 0.5em;
    }

    .console-window h2:first-of-type {
        padding-top: 2em;
    }


    .picture img {
        font-size: 1em;
        margin-left: -9em;
        margin-bottom: -8.5em;
        width: 30%;
    }

    footer {
        font-size: 0.45em;
    }

    .comment.projects.scroll{
        display: none;
    }

    .comment.projects.swipe{
        display: inline;
        font-size: 0.75em;
        padding-bottom: 0.2em;
    }

    .my-projects-container {
        margin: 0;
        display: flex;
        width: 100%;
    }

    .carousel-container {
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        height: 100%; 
        z-index: 299;
    }

    .project-container {
        /* padding-top: 2em; */
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 23.5em;
        flex-shrink: 0;
        flex-direction: column;

    }

    .project-picture img { 
        width: 100%;
        height: auto;
        order: 1;
        object-fit: contain;
    }

    .project-picture {
        display: flex;
        flex-shrink: 0;
        object-fit: contain;
    }

    .project-description {
        padding: 0;
        margin-top: -2em;
        width: 85%;
        order: 2;
    }

    .project-description h2 {
        font-size: 1.1em;
        padding-top: 0.45em;
        padding-bottom: 0.15em;
    }

    .project-description h3 {
        font-size: 0.85em;
        padding: 0.25em;
    }

    .project-description p {
        padding-top: 0.25em;
        font-size: 0.65em;
        line-height: 1.3em;
    }

    .url-container {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
    }

    .url-container img {
        margin-top: 0.05em;
        width: 6.5%;
        border-radius: 0.5em;
        overflow: hidden;
    }
    .go-to-start-button {
        display: none;
    }

    .resume-body {
        display: none;
    }

    .print-resume-method {
        display: flex;
        justify-content: center;
        color: #D0DCA1;
        font-size: 0.90em;
        font-weight: 700;
        text-decoration: none;
    }

    .print-resume-method a {
        text-decoration: none;
    }

}

@media (max-width: 768px) {
    /* Tablet CSS */

    .bottom-container {
        font-size: 0.6em;
    }

    .app-container {
        font-size: 0.75em;
        width: 70%;
        padding: 0.5em 0em 0.5em 1em;
        flex-grow: 2;

    }

    .row-number {
        margin-right: 1em;
        margin-left: 0.5em;
        text-align: right;
    }

    .solution-explorer {
        font-size: 0.75em;
    }

    .solution-icon {
        width: 7%;
        height: auto;
        margin-bottom: -0.35em;
        margin-right: 0.3em;
    }

    .solution-csharp-icon {
        width: 4%;
        height: auto;
        margin-bottom: -0.35em;
        margin-right: 0.3em;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .navigation ul {
        gap: 0.20em;
    }

    .tab {
        font-size: 11px;
        padding: 0.1em 4em 0.1em 0;
    }

    .console-window-header {

        height: 0.5em;
        margin: 0 auto;
        margin-top: 1em;
        padding: 0 0 1em 0;
        width: 65%;
    }

    .console-window {

        border: 3px black solid;
        height: 10em;
        background-color: rgb(0, 0, 0);
        color: #5FBDF9;
        margin-bottom: 1em;
        width: 65%;
    }

    .console-window-header span img {
        display: inline-flex;
        position: relative;
        margin-left: -0.25em;
        padding-bottom: 0.25em;
    }

    .minimize,
    .maximize,
    .close {
        padding-top: 0.08em;
        width: 0.8em;
        height: 0.8em;
    }

    .console-window h1 {
        padding-top: 1em;
        padding-left: 0.75em;
        font-size: 0.75em;
    }

    .console-window h1:first-of-type {
        padding-top: 2.5em;
    }

    .console-window h2 {
        padding-top: 1.5em;
        padding-left: 2.5em;
        font-size: 0.50em;
    }

    .console-window h2:first-of-type {
        padding-top: 0;
    }


    .picture img {
        pointer-events: none;
        height: auto;
        border-radius: 50%;
        margin-left: -7.5em;
        margin-bottom: -5.5em;
        width: 35%;
    }

    footer {
        font-size: 0.60em;
    }
    .comment.projects.scroll{
        display: none;
    }

    .comment.projects.swipe{
        display: inline;
        font-size: 0.65em;
        padding-bottom: 0.2em;
    }

    .my-projects-container {
        margin: 0;
        display: flex;
        width: 100%;
    }

    .carousel-container {
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: nowrap;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        height: 100%; 
        z-index: 299;
    }

    .project-container {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 22.5em;
        flex-shrink: 0;
        flex-direction: column;

    }

    .project-picture img { 
        width: 100%;
        height: auto;
        order: 1;
        object-fit: contain;
    }

    .project-picture {
        display: flex;
        /* align-items: flex-start; */
        padding: 0;
        flex-shrink: 0;
    }

    .project-description {
        padding: 0;
        margin-top: -2em;
        width: 75%;
        order: 2;
    }

    .project-description h2 {
        font-size: 1em;
        padding-top: 0.25em;
        padding-bottom: 0.15em;
    }

    .project-description h3 {
        font-size: 0.70em;
        padding: 0.25em;
    }

    .project-description p {
        padding-top: 0.25em;
        font-size: 0.50em;
        line-height: 1.3em;
    }

    .url-container {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
    }

    .url-container img {
        margin-top: 0.05em;
        width: 6.5%;
        border-radius: 0.5em;
        overflow: hidden;
    }
    .go-to-start-button {
        display: none;
    }

    .resume-body {
        display: none;
    }

    .print-resume-method {
        display: flex;
        justify-content: center;
        color: #D0DCA1;
        font-size: 0.90em;
        font-weight: 700;
        text-decoration: none;
    }

    .print-resume-method a {
        text-decoration: none;
    }

}

@media (max-width: 479px) {
    /* Styles for phone */

    body {
        width: 100%;
        height: auto;
    }

    .bottom-container {
        font-size: 0.5em;
    }

    .app-container {
        display: flex;
        font-size: 0.90em;
        flex-direction: column;
        width: 85%;
        padding: 0.5em 0em 0.5em 1em;
        flex-grow: 2;

    }

    .row-number {
        margin-right: 1em;
        margin-left: 0.5em;
        text-align: right;
    }

    .solution-explorer {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
    }

    .navigation ul {
        gap: 0.10em;
    }

    .tab {
        font-size: 0.5em;
        padding: 0.3em 2.9em 0.3em 0;
    }

    .console-container {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .console-window-header {
        height: 3.5px;
        margin-top: 2em;
        margin-left: 4.5em;
        padding: 0 0 1em 0;
        background-color: #2E2E2E;
        width: 65%;
        max-width: 75%;
    }

    .console-window-header.home {
        height: 3.5px;
        margin: 0 auto;
        margin-top: 2em;
        width: 65%;
        max-width: 75%;
    }

    .console-window {
        height: 10em;
        margin: 0 auto;
        margin-left: 4.5em;
        background-color: rgb(0, 0, 0);
        color: #5FBDF9;
        margin-bottom: 1em;
        width: 65%;
        max-width: 75%;

    }

    .console-window.home {
        height: 10em;
        margin: 0 auto;
        width: 65%;
        max-width: 75%;
    }

    .console-window-header span img {
        display: flex;
        position: relative;
        margin-left: -0.25em;
        padding-bottom: 0.25em;
    }

    .minimize,
    .maximize,
    .close {
        padding-top: 0.25em;
        width: 0.9em;
        height: 0.9em;
    }

        
    .console-window h1{
        font-size: 0.58em;
        padding-left: 1em;
        padding-top: 1em;
    }

    .console-window h1:first-of-type{
        padding-top: 2.5em;
    }

    .console-window h2{
        font-size: 0.40em; 
        padding-left: 0.75em;
        padding-top: 0.50em;
    }

    .console-window h2:first-of-type{
        padding-top: 1.5em;
    }


    .picture img {
        pointer-events: none;
        height: 3.5em;
        width: 3.5em;
        border-radius: 50%;
        margin-left: -4.0em;
        margin-bottom: -4.5em;
        width: 20%;
        height: auto;
    }

    footer {
        font-size: 0.20em;
        padding-top: 1em;
    }
    .comment.projects.scroll{
        display: none;
    }

    .comment.projects.swipe{
        display: inline;
        font-size: 0.5em;
    }

    .comment.projects{
    font-size: 0.6em;
    align-self: center;
    font-weight: 600;
    z-index: 300;
    }

    .my-projects-container {
        margin: 0;
        display: flex;
        width: 100%;

    }

    .carousel-container {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        height: 100%; 
        z-index: 299;
    }

    .project-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-content: space-between;
        align-items: center;
        width: 100%;
        height: 18.5em;
        flex-shrink: 0;
        flex-grow: 1;


    }

    .project-picture {
        padding: 0;
        flex-shrink: 1;
    }

    .project-picture img { 
        width: 100%;
        height: auto;
        order: 1;
    }

    .project-description {
        padding: 0.5em 0 0 0;
        width: 95%;
        order: 2;
    }

    .project-description h2 {
        font-size: 0.75em;
        padding-bottom: 0.15em;

    }

    .project-description h3 {
        font-size: 0.5em;
        padding: 0.25em;
    }

    .project-description p {
        padding-top: 0.25em;
        font-size: 0.45em;
        line-height: 1.3em;
    }

    .url-container {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
    }

    .url-container img {
        margin-top: 0.2em;
        width: 8%;
        border-radius: 0.5em;
        overflow: hidden;
    }
    .go-to-start-button {
        display: none;
    }

    .resume-body {
        display: none;
    }

    .print-resume-method {
        display: flex;
        justify-content: center;
        color: #D0DCA1;
        font-size: 0.55em;
        font-weight: 700;
        text-decoration: none;
    }

    .print-resume-method a {
        text-decoration: none;
    }
}

@media (max-width: 378px) {
    /* Styles for phone */

    body {
        width: 100%;
        height: auto;
    }

    .bottom-container {
        font-size: 0.40em;
    }

    .app-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0.5em 0em 0.5em 1em;
        flex-grow: 2;

    }

    .app-container ol{
        font-size: 1em;
    }

    .row-number {
        margin-right: 1em;
        margin-left: 1.5em;
        text-align: left;
    }

    .solution-explorer {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
    }

    .navigation ul {
        gap: 0.2em;
    }

    .tab li{
        font-size: 0.65em;
        padding: 0.3em 0.55em 0.3em 0.2em;
    }

    .console-container {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .console-window-header{
        display: flex;
        justify-content: flex-end;
        align-content: center;
        height: 0.40em;
        width: 65%;
        max-width: 75%;
        margin-top: 1.5em;
        margin-right: 1em;

    }

    .console-window-header.home {
        width: 65%;
        max-width: 75%;
        height: 0.40em;
        margin: 0 auto;
        margin-top: 1.5em;
    }
    
    .console-window {
        width: 65%;
        max-width: 75%;
        height: 7em;
        margin-right: 1em;
    }

       
    .console-window.home{
        height: 8em;
    }

    .console-window-header span img {
        display: flex;
        position: relative;
        margin-left: -0.25em;
        padding-bottom: 0.25em;
    }

    .minimize,
    .maximize,
    .close {
        padding-top: 0.25em;
        width: 0.75em;
        height:  0.75em;
    }

    .console-window.home h1{
        padding-left: 1em;
        padding-top: 1em;
        font-size: 0.55em;
    }
    
    .console-window.home h1:first-of-type{
        padding-top: 3.5em;
        
    }
    
    .console-window h2{
        font-size: 0.32em; 
        padding-left: 2em;
        padding-top: 1em;
    }
    
    .console-window h2:first-of-type{
        padding-top: 1em;
    }


    .picture img {
        pointer-events: none;
        height: 3.5em;
        width: 3.5em;
        border-radius: 50%;
        margin-left: -4.0em;
        margin-bottom: -4.5em;
    }

    footer {
        font-size: 0.35em;
        padding-top: 1em;
    }

    .comment.projects.scroll{
        display: none;
    }

    .comment.projects.swipe{
        display: inline;
        font-size: 0.45em;
    }

    .comment.projects{
    font-size: 0.5em;
    align-self: center;
    font-weight: 600;
    z-index: 300;
    }

    .my-projects-container {
        margin: 0;
        display: flex;
        width: 100%;

    }

    .carousel-container {
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: flex-start;        
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        height: 100%; 
        z-index: 299;
    }

    .project-container {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        align-items: center;
        width: 100%;
        height: 17em;
        flex-shrink: 0;
        flex-direction: column;

    }

    .project-picture {
        padding: 0;
        flex-shrink: 2;
    }

    .project-picture img { 
        width: 100%;
        height: auto;
        order: 1;
    }

    .project-description {
        padding: 0.5em 0 0 0;
        width: 95%;
        order: 2;
    }

    .project-description h2 {
        font-size: 0.60em;
        padding-bottom: 0.15em;

    }

    .project-description h3 {
        font-size: 0.4em;
        padding: 0.25em;
    }

    .project-description p {
        padding-top: 0.25em;
        font-size: 0.35em;
        line-height: 1.3em;
    }

    .url-container {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
    }

    .url-container img {
        margin-top: 0.2em;
        width: 8%;
        border-radius: 0.5em;
        overflow: hidden;
    }

    .go-to-start-button {
        display: none;
    }

    .resume-body {
        display: none;
    }

    .print-resume-method {
        display: flex;
        justify-content: center;
        color: #D0DCA1;
        font-size: 0.55em;
        font-weight: 700;
        text-decoration: none;
    }

    .print-resume-method a {
        text-decoration: none;
    }

}

