.tab:hover {
    color: #ffffff;
    background-color: #3D3D3D;
}

.row:hover {
    background-color: #2E2E2E;
}

.code-row:hover {
    background-color: #2E2E2E;
}

.url-container img:hover{
    background-color: #424040;
}

/* Effect for the solution explorer container  */

.solution-explorer {
  position: relative;
}

.solution-explorer::before {
  content: '';
  position: absolute;
  top: -3px; /* move the content over the existing top border */
  left: 0;
  width: 10em; /* width of the little piece */
  height: 3px;
  background-color: #7160E8;
  animation: load-bar 3s linear infinite; /* Adjusted duration to match a back-and-forth movement */
}

@keyframes load-bar {
  0% {
    left: 0;
    transform: translateX(0);
  }
  50% {
    left: calc(100% -  10em); /* Move to the end, considering the piece's width */
    transform: translateX(0);
  }
  100% {
    left: 0;
    transform: translateX(0);
  }
}


.go-to-start-button:hover {
    opacity: 0.8;
    color: rgb(140, 204, 56, 1);
  }
  .go-to-start-button-hidden:hover {
    opacity: 0.8;
    color: rgb(255, 255, 255);
  }

  .go-to-start-button-hidden {
    
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin-left: 2em;
    width: 100px;
    height: 50px;
    background-color: #307de2;
    box-shadow: 0px -23px 25px 0px rgba(0, 0, 0, 0.17) 
    inset, 0px -36px 30px 0px rgba(0, 0, 0, 0.15) 
    inset, 0px -79px 40px 0px rgba(0, 0, 0, 0.1) 
    inset, 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 4px 2px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09), 0px 16px 8px rgba(0, 0, 0, 0.09);
 
}

.back-to-home-button:hover{
    opacity: 0.8;
    color: rgb(255, 255, 255);
}

  @keyframes flash-animation {
    0% { opacity: 1; }
    50% { 
        font-size: 0.55em;
        color: #307de2;
     }
    100% { opacity: 1; }
  }

  .flash {
    animation: flash-animation 2s ;
  }

  .console-window h1,
  .console-window h2{
    visibility: hidden;
  }

  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }

  @keyframes blinking {
    0%, 50% { opacity: 0; }
    100% { opacity: 1; }
  }

  .letter-by-letter::before {
    content: '> '; /* Add ">" sign before the text */
    display: inline; /* Use inline display */
    overflow: hidden;
    white-space: nowrap;
    animation: blinking 1s infinite; /* Apply blinking animation to the ">" sign */
  }

  .letter-by-letter::after {
    content: attr(data-text); /* Add text after the ">" sign */
    display: inline-block; /* Use inline-block display */
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s steps(35) forwards; /* Apply typing animation to the text */
    animation-delay: calc(1s * var(--index)); /* Delay each animation */
  }

  /* Specific rule for elements with letter-by-letter class and without need of ">" sign */
  .no-prefix::before {
    content: none; /* No content before the text */
  }

  .close:hover{
    background-color: rgb(179, 11, 45);
  }

  .maximize:hover{
    background-color: rgb(35, 116, 14);
  }

  .minimize:hover{
    background-color: rgb(255, 255, 255);
  }
