@media print {

    /* hide before printing */
  
    .navigation,
    .bottom-container,
    .go-to-start-button,
    .print-resume-method,
    .buttons-container,
    .resume-buttons,
    .go-to-top-button-container,
    footer,
    .softuni-svg{
        display: none;
    }

    footer {
        display: none;
    }

    body {
        width: 100%;
        background-color: #1F1F1F;
        border: 1px #4e4d4d solid;
        padding: 0;
        margin: 0;
    }

    .main-container {
        padding: 0;
        margin: 0;
        background-color: #1F1F1F;
    }

    .resume-body,
    .resume-body-hidden{
        display: flex;
        margin: 0;
        padding: 0;
        flex-direction: column;
        opacity: 100%;
        width: 960px;
        background-color: #1F1F1F;

    }

    .big-container {
        border-width: 1px 0 0 1px;
        padding: 0;
        margin-left: 0.25em;
   
    }

    .bigger-container {
        height: 24.5em;
        padding: 2em;
        background-color: #182D41;
        color: #FFFFEE;
        font-size: 1em;
        margin-left: 0;
        margin-top: 0.5em;
    }

    .inner-columns {
        margin-top: 0px;
    }

    .right-container {
        width: 348px;
    }

    .links-left-column,
    .links-left-column a,
    .links-right-column,
    .links-right-column a {
        text-decoration: none;
    }

    .right-column {
        font-weight: bold;
        border: 1px solid black;
    }

    .links-container1 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        align-content: space-evenly;
        width: 908px;
        margin-top: -2em;
    }

    .links-left-column,
    .links-right-column {
        width: 454px;
    }

    .links-left-column {
        margin-left: 5em;
        margin-right: 4em;
    }

    .find-me-online {
        padding-top: 0px;
        margin-bottom: 20px;
    }

    .linkedin-container,
    .github-container,
    .facebook-container {
        text-align: center;
    }

    .skills.passions {
        margin-top: 1.5em;
    }

    #id-experience {
        margin-top: 4em;
    }

    #id-tech-skills {
        margin-top: 2.5em;
    }

    #id-soft-skills {
        margin-top: 1.5em;
    }

    #id-projects {
        margin-top: 1.5em;
    }

    #id-additional-info {
        margin-top: 2.5em;
    }

    .certificate-container h4:first-of-type {
        align-self: center;
    }

    #ruse {
        margin-top: 1.5em;
    }

    .driving-container {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    #id-languages{
        padding-top: 2em;
    }

}