.comment.projects.swipe{
    display: none;
}

.comment.projects{
    font-size: 0.8em;
    align-self: center;
    font-weight: 600;
    z-index: 300;
    }

.my-projects-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    max-width: 100%;
    height: 100vh; 
}

.carousel-container {
    overflow-y: auto;
    height: 45%; 
    width: 100%;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch; 
}

.project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 24em;
    scroll-snap-align: start;
    padding: 0 1em 1em 1em; 
}

.project-picture {
    height: auto; 
    object-fit: contain;
    align-self: center;
    pointer-events: none;
    scale: 70%;
}

.project-picture img {
    width: 20em;
    height: auto;
    align-self: center;
}

.project-description {
    margin-top: 10px;
    border-radius: 10px;
    padding: 1em;
    color: beige;
    border: 2px #4e4d4d solid;
    text-align: center;
    align-content: center;
}

.project-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.project-description h2{
    font-size: 2.3em;
    text-align: center;
    padding-bottom: 0.5em;
    color: #4EC9B0;
}
.project-description h3{
    text-align: center;
    padding: 0.75em;
    color: #5FBDF9;
}

.project-description p {
    font-size: 1.2em;
    line-height: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
}

.project-description a {
    text-align: center;
}

.url-container{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    flex-grow: 1;
}

.url-container a {
    text-decoration: none;
    color: #007bff; 
}

.url-container img{
    width: 6%;
    height: auto;
    border-radius: 0.95em;
    align-self: center;
}


.carousel-container::-webkit-scrollbar {
    width: 0.5em;
}

.carousel-container::-webkit-scrollbar-track {
    background: #1F1F1F; /* Color of the track */
}

.carousel-container::-webkit-scrollbar-thumb {
    background: #1F1F1F; /* Color of the thumb */
    border-radius: 1em; /* Radius of the thumb */
}

.carousel-container::-webkit-scrollbar-thumb:hover {
    background: #1F1F1F; /* Color of the thumb on hover */
}