@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.print-resume-method{
    display: none;
}

.resume-body,
.resume-body-hidden {
    font: 16px/1.5 "Montserrat", sans-serif;
    display: flex;
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #1F1F1F;
    margin-top: 0.4em;
}
.big-container {
    display: flex;
    flex-direction: row;
}

.bigger-container {
    height: auto;
    padding: 1.5em;
    margin-left: 0.5em;
    border-top: 25px solid #22405C;
    border-bottom: 25px solid #22405C;
    background-color: #182D41;
    color: #FFFFEE;
}
image {
    display: block;
    width: 100%;
    height: auto;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding-top: 1.5em;
}

.tasks-achievements{
 font-size: 0.8em;   
}

.left-container {
    width: 595px;
    padding: 1.5em 1.5em 1.5em 3em;
    background-image: url(../images/background1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 25px solid #22405C;
    border-bottom: 25px solid #22405C;
}

.right-container {
    background-color: #22405C;
    width: 313px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 2em;
    border-top: 25px solid #182D41;
    border-bottom: 25px solid #182D41;
    color: #FFFFEE;
    margin-left: 0.5em;
}

.right-container h2 {
    border-bottom: 2px solid #FFFFEE;
    width: 75%;
    text-align: center;
}

.profile-picture {
    width: 160px;
    height: 160px;
    border-radius: 15%;
    margin-top: 2em;
    pointer-events: none;
}

.phone-svg,
.location-svg {
    width: 25px;
    height: auto;
    overflow: hidden;
    margin-left: 3em;
    font-size: 12px;
}

.email-svg{
    width: 25px;
    height: auto;
    overflow: hidden;
    margin-left: 8em;
}

.email a{
    text-decoration: none;
    color: black;
}

.inner-columns {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.inner-columns h2 {
    border-bottom: 2px solid #5c5757;
}

.upper-column-employer1,
.upper-column-employer2,
.upper-column-employer3{
    display: flex;
    line-height: 1.3em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 0.95em;
}

.company {
    color: #307de2;
    
}

.lower-column {
    margin-top: 0.2em;
    padding-left: 0.8em;
    
}

.lower-column ul li {
    text-align:justify;
    font-size: 12px;
    padding-bottom: 0.6em;
    font-weight: 500;
    list-style: none; /* remove the bullets */
    list-style: "✦"; /* assign new bullet icons instead of the original ones */
}

/* Different bullet icon on the last child of the ul li construction to point out that is an ACHIEVEMENT, not a TASK */

.lower-column ul li:last-child{
    list-style-type:"⦿";
}

/* Control the space between the bullet points and the text in the ul li span construction */
.task { 
    position: relative;
    left: 0.2em;
  }

  /* Adds a blue border line on the bottom the last child in the ul li construction */
.lower-column ul li:last-child{
    border-bottom: 1px solid #307de2;
    padding-bottom: 0.4em;
    padding-left: 0.2em;
}

.upper-column-2 {
    margin-left: 7em;
    padding-bottom: 0.5em;
}
.upper-column-2 p{
    font-size: 12px;
    font-weight: 600;
}

.upper-column-1 {
    display: flex;
    flex-direction: column;
}

.period,
.location {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5em;
    margin-left: -1.5em;
    width: 150px;
}


.description {
    font-size: 11px;
    font-weight: 500;
    font-style: italic;
}

.lower-column ul li:last-child {
    margin-bottom: 2em;
}

.education1 {
    padding-top: 1.5em;
    display: flex;
    justify-content: space-between;
}

.edu-column-2 {
    display: flex;
    margin-right: -2em;
}

.edu-column-2 p{
    font-weight: 600;
}


.school {
    color: #307de2;
}

.certification{
    padding-top: 1.5em;
}

.certificate-container{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding-bottom: 1.5em;
}

.certificate-container:first-child{
 padding-top: 1.5em;
}

.school-name{
    align-self: flex-start;
    padding-bottom: 1em;
}

.certificate-name,
.certificate-name a{
    text-decoration: none;
    color: #307de2;
}
.certificate-details{
    font-size: 12px;
}

.languages{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.languages-container {
    display: flex;
    gap: 1em;
    font-size: 0.8em;
    padding-bottom: 0.5em;
}

.coma {
    height: 8px;
    width: 8px;
    background-color: #307de2;
    border-radius: 50%;
    display: inline-block;
    margin-top: 0.3em;
    margin-left: -0.4em;
    padding-left: 0.4em;
}

.coma-white {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
    padding: 0;
    background-color: #ffffff;
    margin-top: 0.3em;
    margin-left: -0.4em;
    padding-left: 0.4em;
}

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
    line-height: 1.4em;
    font-size: 0.9em;
}


.strenghts-container,
.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 0.8em;
    padding-bottom: 0;
    margin-bottom: 0;
}

.team-leader-container,
.organized-container,
.time-management,
.problem-solver,
.knowledgable{
    display: flex;
    width: 300px;
    padding-left: 2em;
    padding-bottom: 1em;
    align-items: center;
    text-align: left;
    gap: 1.5em;
}

.organized-container h4{
    padding-right: 0.5em;
}

.team-leader-svg,
.organized-svg {
    width: 45px;
    height: 45px;
    overflow: hidden;
    margin: 0;
}

.time-management-svg,
.problem-solver-svg {
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin: 0;
}

.time-management h4,
.problem-solver h4{
    padding-left: 0.5em;
}

.knowledgable-svg {
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin: 0;
}

.passions-container,
.driving-container,
.projects-container{
    font-size: 0.8em;
}

.projects-container h4 a{
    text-decoration: none;
    color: #FFFFEE;
    line-height: 2em;
}

.computer-science-container,
.dogs-container,
.cycling-container,
.driving-container {
    display: flex;
    width: 300px;
    padding-left: 2em;
    padding-bottom: 1em;
    align-items: center;
    text-align: left;
    gap: 1.5em;
}

.computer-svg,
.dogs-svg,
.cycling-svg{
    width: 40px;
    height: 40px;
    overflow: hidden;
    margin: 0;
}


.driving-svg{
    width: 35px;
    height: auto;
    overflow: hidden; 
    margin: 0;
}

.links-container1 {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 5px;
    width: 313px;
}

.links-container1 h2 {
    border-bottom: 2px solid #FFFFEE;
    width: 100%;
    text-align: center;
}

.links-container1  h4 a {
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    color: #FFFFEE;
    padding-bottom: 0.2em;
}

.links-container1 h4 {
    padding-top: 1.3em;
    text-align: center;
}

.links-right-column h4{
    padding-top: 2em;
}

.find-me-online {
    padding-top: 2em;
    width: 100%;
    text-align: center;
}

.linkedin-container,
.github-container,
.facebook-container,
.portfolio-container{
    display: flex;
    width: 300px;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    gap: 1.2em;
    font-size: 14px;
}

.linkedin-container img,
.github-container img,
.facebook-container img,
.portfolio-container img{
    width: 35px;
    height: 35px;
    overflow: hidden;
    margin: 0;
}

.portfolio-container img{
    margin-top: 0.5em;
    margin-bottom: -0.8em;
}

.linkedin-container img{
    margin-left: 1.7em;

}

.facebook-container img,
.portfolio-container img{
    margin-left: 2em;
}

.github-container img{
    margin-left: 1em;
}

.links-container1 a{
    text-align: center;
    text-decoration: none;
    color: #ffffee;
    padding-bottom: 1em;
}

.links-left-column{
    text-align: center;
}

.links-left-column h4{
    padding-bottom: 1px;
    line-height: 0.2em;
}

.softuni-svg{
    padding-top: 1em;
    width: 90px;
    height: 90px;
    overflow: hidden; 
    margin: 0;
}

.buttons-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding-right: 0.65em;
    padding-left: 0;
 
}

.sticky-container{
    position: sticky;
    padding-right: 0.65em;
    padding-left: 0; 
    top: 10px; 
    z-index: 1000; 
}

.go-to-top-button-container{
    padding-right: 1em;
    display: flex;
    align-items: flex-end;
}


.go-to-start-button-hidden{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin-top: 2em;
    margin-left: 2em;
    width: 6em;
    height: 3em;
    border-radius: 1em;
    background-color: #307de2;
    box-shadow: 0px -23px 25px 0px rgba(0, 0, 0, 0.17) 
    inset, 0px -36px 30px 0px rgba(0, 0, 0, 0.15) 
    inset, 0px -79px 40px 0px rgba(0, 0, 0, 0.1) 
    inset, 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 4px 2px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09), 0px 16px 8px rgba(0, 0, 0, 0.09);
}

.back-to-home-button{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin-top: 2em;
    margin-left: 2em;
    width: 6em;
    height: 3em;
    border-radius: 1em;
    background-color: #50af11;
    box-shadow: 0px -23px 25px 0px rgba(0, 0, 0, 0.17) 
    inset, 0px -36px 30px 0px rgba(0, 0, 0, 0.15) 
    inset, 0px -79px 40px 0px rgba(0, 0, 0, 0.1) 
    inset, 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 4px 2px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09), 0px 16px 8px rgba(0, 0, 0, 0.09);
}

.resume-buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}


.schedule-interview-button{
    border-radius: 0.5em;
    font-family: "Montserrat", sans-serif;
    font-weight: 700; 
    width: 9em;
    height: 3em;
    background-color: #307de2;
    box-shadow: 0px -23px 25px 0px rgba(0, 0, 0, 0.17) 
    inset, 0px -36px 30px 0px rgba(0, 0, 0, 0.15) 
    inset, 0px -79px 40px 0px rgba(0, 0, 0, 0.1) 
    inset, 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 4px 2px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09), 0px 16px 8px rgba(0, 0, 0, 0.09);
}

.schedule-interview-button a{
    color: rgb(3, 0, 0);
}

.schedule-interview-button:hover{
    opacity: 0.8;
    color: rgb(140, 204, 56, 1);
}

.resume-icons {
    width: 1.60em;
    height: auto; 
    margin-bottom: -0.5em;
    margin-right: 0.30em;
}

.profession-icon{
    width: 1.60em;
    height: auto; 
    margin-bottom: -0.45em;
}