@media print {
    
    body{
        
        flex-direction: column;
        opacity: 100%;
        -webkit-print-color-adjust: economy;
        print-color-adjust:economy;
        width: 960px;
        background-color: #ffffff;
    }

    .big-container{
        
        border-width:1px 0 0 1px;
    }

    .bigger-container {
        height: 450px;
        padding: 2em;
        background-color: #182D41;
        color: #FFFFEE;
        font-size: 1em;
        margin-left: 0;
        margin-top: 0.5em;
    }

    .inner-columns {
        margin-top: 0px;
    }

    .right-container {
        width:348px;
    }

    .links-left-column,
    .links-left-column a
    .links-right-column
    .links-right-column a{
        text-decoration: none;
    }


    .right-column{
        font-weight: bold;
        border: 1px solid black;
    }



    .links-container1{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        align-content: space-evenly;
        width: 908px;
        margin-top: -2em; 
    }

    .links-left-column,
    .links-right-column{
        width: 454px;
    }

    .upper-column-employer:first-child {
        margin-bottom: 20em;
    }

    .links-left-column{
        margin-left: 5em;
        margin-right: 4em;
    }

    
    .find-me-online {
       padding-top: 0px;
       margin-bottom: 20px;
    }

    .linkedin-container,
    .github-container,
    .facebook-container{
    text-align: center;
    }

    .languages{
        margin-top: 1.5em;
    }

    .skills.passions{
        margin-top: 1.5em;
    }

    .upper-column-employer2{
        margin-top: 4em;
    }

    /* hide the print/save as PDF button when printing */
    .print{
        visibility: hidden;
    }

}
