/* Hovering over the dog-container will show a picture of Nera and Joey ( my pets )  */

.dogs-container:hover {
    position: relative;
}

.dogs-container:hover:after {
    content: url(/images/Nera\ &\ Joey.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 20px;
    width: 50px;
    display: block;
    z-index: 100;
}

.linkedin-container:hover,
.github-container:hover,
.facebook-container:hover{
    color: rgb(185, 19, 19);
}

.links-container1 h4 a:hover{
    color: rgb(140, 204, 56, 1);
}

.linkedin-container img:hover,
.github-container img:hover,
.facebook-container img:hover{
    opacity: 0.5;
}

.email-container:hover,
.email a:hover{
    text-decoration: none;
    color: #307de2;
}

/* Print Button  */

.print{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin-top: 2em;
    margin-left: 1em;
    width: 100px;
    height: 50px;
    background-color: #307de2;
    box-shadow: 0px -23px 25px 0px rgba(0, 0, 0, 0.17) inset, 0px -36px 30px 0px rgba(0, 0, 0, 0.15) inset, 0px -79px 40px 0px rgba(0, 0, 0, 0.1) inset, 0px 2px 1px rgba(0, 0, 0, 0.06), 0px 4px 2px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09), 0px 16px 8px rgba(0, 0, 0, 0.09);
    border-radius: 1em;
    position: sticky;
    top: 5px;
}

.print:hover{
    opacity: 0.8;
}

.certificate-name a:hover{
    text-decoration: none;
    /* text-shadow: 0px 2px 25px rgba(0, 0, 0, 1);  */
    color: rgba(255, 255, 255, 1);
    text-shadow: 2px 2px 0px rgba(64, 116, 181, 1), 
               2px -2px 0px rgba(64, 116, 181, 1), 
			   -2px 2px 0px rgba(64, 116, 181, 1), 
			   -2px -2px 0px rgba(64, 116, 181, 1), 
			   2px 0px 0px rgba(64, 116, 181, 1), 
			   0px 2px 0px rgba(64, 116, 181, 1), 
			   -2px 0px 0px rgba(64, 116, 181, 1), 
			   0px -2px 0px rgba(64, 116, 181, 1);
}



