header {
    display: flex;
    flex-direction: column; 
    gap: 0em;
    padding: 0em 1em 1.5em 1em;
    font-weight: 700;
}

.name,
.profession{
    text-align: center;
}

.summary{
    background-color: #2a5c8b;
    padding: 0.5em 0.5em;
    border-radius: 1em;
    margin-top: 1.5em;
    border: 1xp solid black;
    box-shadow: 0px 4px 8px -2px rgba(9, 30, 66, 0.25), 0px 0px 0px 1px rgba(9, 30, 66, 0.08);
}

.summary p{
    font-size: 14px;
    color: #FFFFEE;

}