@media print {
    
    body{
        flex-direction: column;
        opacity: 100%;
        -webkit-print-color-adjust: economy;
        print-color-adjust:economy;
        width: 960px;
    }

    .big-container{
        
        border-width:1px 0 0 1px;
    }

    .bigger-container {
        height: 410px;
        padding: 2em;
        background-color: #182D41;
        color: #FFFFEE;
        font-size: 1em;
        margin-left: 0;
    }

    .right-container {
        width:348px;
    }

    .links-left-column,
    .links-left-column a
    .links-right-column
    .links-right-column a{
        text-decoration: none;
    }


    .right-column{
        font-weight: bold;
        border: 1px solid black;
    }

    .links-container1{
        display: flex;
        flex-direction: row;
        width: 908px;
        height: auto;
        margin-top: -2em; 
    }

    .links-left-column,
    .links-right-column{
        width: 454px;
    }

    .upper-column-employer:first-child {
        margin-bottom: 20em;
    }

    .links-right-column{

        align-items: flex-start;
        padding-top: 0;
    }
    
    .find-me-online h2{
        padding: 0;
    }

    .linkedin-container img{
        margin-left: 10em;
    }

    .facebook-container img{
        margin-left: 10.5em;
    }

    .github-container img{
        margin-left: 9em;
    }

    .languages{
        margin-top: 2em;
    }

    .skills.passions{
        margin-top: 1.5em;
    }

    .upper-column-employer2{
        margin-top: 4em;
    }

    /* hide the print/save as PDF button when printing */
    .print{
        visibility: hidden;
    }

}
